*{
    margin: 0;
    padding: 0;
    font-smooth: always; 
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    image-rendering:optimizeQuality;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

*:focus{
	outline: none;
}
 
body{
    background: #fff;
 
}
  
.container{
    margin: 0 auto;
    height: 100%;
}

#top-bar{
    width: 100%;
    height: 30px;
    background: #545454;
    -webkit-box-shadow: inset 0 -10px 8px #454545, 0 0 8px  #ddd, inset 0 -1px 2px #666, inset 0 1px 1px #666;
    -moz-box-shadow: inset 0 -10px 8px #454545, 0 0 8px  #ddd, inset 0 -1px 2px #666, inset 0 1px 1px #666;
    -o-box-shadow: inset 0 -10px 8px #454545, 0 0 8px  #ddd, inset 0 -1px 2px #666, inset 0 1px 1px #666;
    box-shadow: inset 0 -10px 8px #454545, 0 0 8px  #ddd, inset 0 -1px 2px #666, inset 0 1px 1px #666;
    border-bottom: 1px solid #111;
}

#top-text{
    color: #aaa;
    font-family: "Helvetica Neue", sans-serif;
    Font-size: 12px;
    line-height: 30px;
    margin-left: 15px;
}

#username{
 text-decoration: none;
 color: #aaa;
}

#username:hover{
 color:#ddd;
}

#logout{
 text-decoration: none;
 color: #aaa;
}

#logout:hover{
 color: #ddd;
}

#nav-bar img{
  height: 60px;
  width: 60px;
  margin-top: 7px;
  margin-left: 10px;
  float:  left;
}

#nav-bar ul li a{
  text-decoration: none;
  margin:  10px;
  color:  #fff;
  font:  18px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  -o-text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

#nav-bar ul li{
  float: right;
  line-height: 75px;
  opacity: 0.8;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}

#nav-bar ul li img{
  margin-top: 25px;
  height: 24px;
  width: 24px;
}

#nav-bar ul li:hover{
  opacity: 0.9;
  background: rgba(0,0,0,0.2);
  background: #689dcd;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

#nav-bar ul li a:hover{
  opacity: 1;
}

#nav-bar ul{
  list-style: none;
}

#nav-bar{
  background: #74bbfe;
  width: 920px;
  margin:  0 auto;
  height: 75px;
  border: 1px solid #5189c2;
  border-top:  0px solid;
  background: rgb(130,195,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(130,195,254,1) 0%, rgba(100,175,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,195,254,1)), color-stop(100%,rgba(100,175,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c3fe', endColorstr='#64affe',GradientType=0 ); /* IE6-9 */
  padding-left:  40px;
  padding-right:  40px;
}

#content{
  position: absolute;
  width: 900px;
  border:  1px solid #c4c4c4;
  min-height: 300px;
  background: #f1f1f1;
  margin:  0 auto;
  left: 0;
  right: 0;
  padding-left:  50px;
  padding-right:  50px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 80px;
}

#content h2{
  color: #333;
  font: lighter 18px/40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

#content h3{
  color: #222;
  font: normal 16px/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content p a{
  height: 24px;
  text-decoration:  none;
  color: #333;
  font: lighter 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  float: left;
  margin-right: 10px;
}

#content p a:hover{
  color: #111;
}

#content p img{
  opacity: 0.8;
  border: 0px none;
}

#content p img:hover{
  cursor: pointer;
  opacity: 1;
}

#content p{
  font: 14px/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #555;
}

form input{
  height: 15px;
  width: 300px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  font: lighter 14px/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  
}

form input[type = text]{
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}
form input[type = password]{
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

form input[type = email]{
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}


form input[type = text]:focus{
  -webkit-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -moz-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -o-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  box-shadow:  0px 0 6px rgba(130,195,254, 1);
}

form input[type = password]:focus{
  -webkit-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -moz-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -o-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  box-shadow:  0px 0 6px rgba(130,195,254, 1);
}

form input[type = email]:focus{
  -webkit-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -moz-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  -o-box-shadow:  0px 0 6px rgba(130,195,254, 1);
  box-shadow:  0px 0 6px rgba(130,195,254, 1);
}

form textarea{
  height: 150px;
  max-height: 190px;
  width: 300px;
  max-width: 300px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  font: lighter 14px/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

form textarea:focus{
	-webkit-box-shadow:  0px 0 3px rgba(130,195,254, 0.6);
	-moz-box-shadow:  0px 0 3px rgba(130,195,254, 0.6);
	-o-box-shadow:  0px 0 3px rgba(130,195,254, 0.6);
	box-shadow:  0px 0 3px rgba(130,195,254, 0.6);
}

form h4{
  font: lighter 16px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #666;
}

form #button{
  height: 35px;
  width: 322px;
  padding: 10px;
  font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 0px;
  margin-top: 10px;
  background: rgb(130,195,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(130,195,254,1) 0%, rgba(100,175,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,195,254,1)), color-stop(100%,rgba(100,175,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(130,195,254,1) 0%,rgba(100,175,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c3fe', endColorstr='#64affe',GradientType=0 ); /* IE6-9 */
  color:  #fff;
  -webkit-text-shadow: 0 0 1px #777;
  -moz-text-shadow: 0 0 1px #777;
  -o-text-shadow: 0 0 1px #777;
  text-shadow: 0 0 1px #777;
  border: 1px solid rgba(0,114,218,0.5);
  
}

form input[type = file]{
  height: 30px;
}

form #select{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	width: 322px;
	height: 35px;
	padding: 10px;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

#button:hover{
  cursor: pointer;
  background: rgb(146,202,252); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(146,202,252,1) 0%, rgba(111,181,252,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,202,252,1)), color-stop(100%,rgba(111,181,252,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(146,202,252,1) 0%,rgba(111,181,252,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(146,202,252,1) 0%,rgba(111,181,252,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(146,202,252,1) 0%,rgba(111,181,252,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(146,202,252,1) 0%,rgba(111,181,252,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92cafc', endColorstr='#6fb5fc',GradientType=0 ); /* IE6-9 */
}

#button:active{
  background: rgb(99,174,249); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(99,174,249,1) 0%, rgba(129,193,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,174,249,1)), color-stop(100%,rgba(129,193,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(99,174,249,1) 0%,rgba(129,193,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(99,174,249,1) 0%,rgba(129,193,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(99,174,249,1) 0%,rgba(129,193,249,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(99,174,249,1) 0%,rgba(129,193,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63aef9', endColorstr='#81c1f9',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:  inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:  inset 0 1px 3px rgba(0,0,0,0.2);
  -o-box-shadow:  inset 0 1px 3px rgba(0,0,0,0.2);
  box-shadow:  inset 0 1px 3px rgba(0,0,0,0.2);
}

form{
  float: left;
}

form #forgot{
	line-height: 30px;
	margin-top: 20px;
	text-align: center;
}

#content .right{
  float: right;
  width: 300px;
  font: 14px/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #555;
}

#content .help_img{
  float: left;
  height: 200px;
  width: 320px;
  margin-top: 20px;
}

#footer{
  position: relative;
  margin: 0 auto;
  width: 300px;
  height:  80px;
  bottom: 0;
  text-align: center;
  margin-top: 30px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #888;
  float: right;
}

#footer #note{
  font: 10px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #999;
}

#error{
	position:absolute;
	left:0px;
	right:0px;
	margin: 0 auto;
	width: 500px;
	z-index:99;
	background-color: #f65b5b;
	color: rgba(255, 255, 255, 1);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:  0 2px 10px rgba(0,0,0,0.4);
	-o-box-shadow:  0 2px 10px rgba(0,0,0,0.4);
	-moz-box-shadow:  0 2px 10px rgba(0,0,0,0.4);
	box-shadow:  0 2px 10px rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.3);
}

#error h4{
	font: 30px/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #fff;
	margin: 10px;
}

#error p{
	font: 16px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 10px;
	color:  rgba(255,255,255,1);
}

#error em{
	font: italic 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 10px;
	color:  rgba(255,255,255,1);
}