*{
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased; 
 }
 
 #logo{
  height: 50px;
  width:50px;
  float:left;
  opacity: 0.9;
  margin-left: 7px;
  margin-top: 1px;
 }
 
 #logo:hover{
  opacity: 1;
  cursor: pointer;
  -moz-transition: 0.8s all;
  -webkit-transition:0.8s all;
  -o-transition:0.8s all;
  transition: 0.8s all;
 }
 
 #page p{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  padding-right: 14px;
 }
 
 body{
  background: #fff;

 }
 
 .container{
     margin: 0 auto;

 }

 #top-bar{
     width: 100%;
     height: 25px;
     background: #545454;
     box-shadow: inset 0 -10px 8px #454545, 0 0 8px  #ddd, inset 0 -1px 2px #666, inset 0 1px 1px #666;
 }

 #top-text{
  color: #aaa;
  font-family: "Helvetica Neue", sans-serif;
    Font-size: 10px;
  line-height: 23px;
    margin-left: 15px;
 }
 
 #username{
  text-decoration: none;
  color: #aaa;
 }
 
 #username:hover{
  color:#ddd;
 }
 
 #logout{
  text-decoration: none;
  color: #aaa;
 }
 
 #logout:hover{
  color: #ddd;
 }
 #header{
     background:#4192dc;
     box-shadow: inset 0 -10px 30px #2f78d0, inset  0 1px 1px #a0cff2;
     border-bottom: 2px solid #30629f;
     border-bottom-left-radius: 3px; 
     border-bottom-right-radius: 3px; 
     height: 50px;
     width: 800px;
   min-width: 300px;
   max-width: 900px !important;
     margin: 0 auto;
   padding-right: 15px;   
 }

#header #selected{
  background: #e4e4e4;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  box-shadow: inset 0 3px 6px #ddd, 0 0 4px #5da9e3;
  border-bottom: 2px solid #aeaeae;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header #selected a{
  color: #777;
  text-shadow: 0 1px 0 #fff;
}

#header #selected a:hover{
  color: #555;
}

#header #selected:hover{
  background: #efefef;
}

 
#menu #selected{
  border-right: 3px solid #e0e0e0;
}
#menu #selected:hover {
  border-right: 3px solid #bbb;
  background: #e0e0e0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: inset 0 0 10px #d7d7d7;
}
 
#header ul li{
  text-decoration: none;
  line-height: 33px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 6px;
  list-style: none;
  float: right;
  margin-top: 1px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid transparent;
  -moz-transition: 0.1s background,0.1s border; 
  -webkit-transition:0.1s background, 0.1s border; 
  -o-transition:0.1s background, 0.1s border; 
  transition: 0.1s background, 0.1s border; 
}

#header ul li:hover{
  background: #30629f;
  border-left: 1px solid #2f609b;
  border-right: 1px solid #2f609b;
  box-shadow: inset 0 3px 6px #3368a8, 0 0 4px #5da9e3;
  border-bottom: 2px solid #182e48;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


#header ul li a {
    font-family: "Helvetica Neue", sans-serif;
    Font-size: 14px;
    font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #30629f;
}
#header ul li a:hover {
  color: #e1f2ff;
  text-shadow: 0 1px 0 #444;
}

#content{
  overflow: hidden;
  min-height: 450px;
  height: 550px;
  max-height: 900px;
  min-width: 300px;
  max-width: 816px;
  background: #eee;
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 2px solid #d1d1d1;
  box-shadow: inset 0 3px 10px #e9e9e9, inset 0 1px 1px #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 2px;
}

#login{
  min-height: 250px;
  height: 350px;
  max-height: 600px;
  min-width: 300px;
  max-width: 516px;
  background: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 2px solid #e4e4e4;
  box-shadow: inset 0 3px 10px #e9e9e9, inset 0 1px 1px #ffffff;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 2px;
  padding: 20px;
}


#menu{
  position: relative;  
  float:left;  
  height: 100%;
  width: 150px;
  background: #eaeaea;
  border-right: 1px solid #d6d6d6;
  box-shadow: inset 0 1px 1px #efefef;
}

#page{
  position: relative;  
  float:right;
  max-height:616px;
  min-height:300px;
  width: 649px;
  height: 100%;
  padding-top: 14px;
}

#menu ul li{
  text-decoration:  none;
  line-height: 33px;
  padding-left: 8px;
  padding-right:18px;
  padding-top: 8px;
  padding-bottom: 7px;
  list-style: none;
  float: center;
  text-align:right;
  

}

#menu ul li:hover{
  background: #e3e3e3;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  box-shadow: inset 0 0 10px #e2e2e2;
  padding-left: 7px;
  padding-right:18px;
  padding-top: 7px;
  padding-bottom: 6px;
  
}


#menu ul li a {
    font-family: "Helvetica Neue", sans-serif;
    Font-size: 14px;
    font-weight: bold;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #efefef;
  
}
#menu ul li a:hover {
  color: #555;
  text-shadow: 0 1px 0 #efefef;
}

#footer a{
  text-decoration: none;
  color: #999;
}

#footer a:hover{
  color: #666;
}

#footer{
  border-top: 1px solid #ccc;
  font-family: "Helvetica Neue", sans-serif;
    Font-size: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 3px;
  min-width: 300px;
  max-width: 350px;
  height: 30px;
  text-align: center;
  color: #aaa;
}

.textbox{
  width: 180px;
}

input[type=text]{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px; 
  border: 1px solid #c9c9c9; 
  box-shadow: inset 0 1px 0 #eee, 0 0 1px #eee; 
  -moz-border-radius: 2px;
  font: 12px/16px "Helvetica Neue", sans-serif;  
  -webkit-border-radius: 2px;
  color: #444;
}


input[type=password]{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #c9c9c9;
  box-shadow: inset 0 1px 0 #eee, 0 0 1px #eee;
  -moz-border-radius: 2px;
  font: 12px/16px "Helvetica Neue", sans-serif;  
  -webkit-border-radius: 2px;
  color: #444;
}


input[type=textbox]{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #c9c9c9;
  box-shadow: inset 0 1px 0 #eee, 0 0 1px #eee;
  -moz-border-radius: 2px;
  font: 12px/16px "Helvetica Neue", sans-serif;  
  -webkit-border-radius: 2px;
  color: #444;
}

#button {
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px;
  float: right;
  cursor: pointer;
  background: #4192dc;
  color: #fff;
  margin-right: 15px;
  border: 1px solid #3081cb; 
  box-shadow: inset 0 1px 0 #52a3eb;
}
#button:active {
  background: #ccc;
  box-shadow: inset 0 1px 0 #52a3eb;
  margin-bottom: 1px;
}
#button:hover {
  background: #52a3eb;
  color: #fff;
  box-shadow: inset 0 1px 0 #63b4fc;
  border: 1px solid #4192dc; 
}

#textarea{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px; 
  border: 1px solid #c9c9c9; 
  box-shadow: inset 0 1px 0 #fff, 0 0 20px #eee; 
  -moz-border-radius: 2px;
  font: 12px/16px "Helvetica Neue", sans-serif;  
  -webkit-border-radius: 2px;
  color: #444;
  width: 624px;
  height: 95px;
  resize:none;
}

h1{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 22px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

h2{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

h3{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

h4{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

h5{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

em{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #4f4f4f;
}

#select{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100px;
  padding: 4px; 
  border: 1px solid #c9c9c9; 
  box-shadow: inset 0 1px 0 #fff, 0 0 1px #eee; 
  -moz-border-radius: 2px;
  font: 12px/16px "Helvetica Neue", sans-serif;  
  -webkit-border-radius: 2px;
  color: #444;
}
